.search-page {
  .drawer__inner:not(:empty) {
    min-height: 48px;
  }
}

@media screen and (min-width: 600px + (285px * 1) + (10px * 1)) {
  .search-page .search {
    display: none;
  }
}

@media screen and (max-width: 600px + (285px * 1) + (10px * 1) - 1px) {
  .search-page .column-header__wrapper {
    display: none;
  }
}

.search {
  position: relative;
}

.search__input {
  @include search-input;
  display: block;
  padding: 7px 30px 6px 10px;
}

.search__icon {
  &::-moz-focus-inner {
    border: 0;
  }

  &::-moz-focus-inner,
  &:focus {
    outline: 0 !important;
  }

  .fa {
    @include font-size(16);
    cursor: default;
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 2;
    width: 18px;
    height: 18px;
    color: var(--primary-text-color--faint);
    opacity: 0;
    pointer-events: none;

    &.active {
      pointer-events: auto;
      opacity: 1;
    }
  }
  .fa-search.active { pointer-events: none; }

  .fa-times-circle {
    @include font-size(17);
    cursor: pointer;
    color: var(--highlight-text-color);
    &:hover { color: var(--brand-color); }
  }
}

.search-results__header {
  color: var(--primary-text-color);
  background: var(--accent-color--med);
  padding: 15px;
  font-weight: 500;
  font-size: 16px;
  cursor: default;

  .fa {
    display: inline-block;
    margin-right: 5px;
  }
}

.search-results__section {
  h5 {
    background: var(--accent-color--faint);
    border-bottom: 1px solid var(--brand-color--faint);
    cursor: default;
    display: flex;
    padding: 15px;
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-text-color);

    .fa {
      display: inline-block;
      margin-right: 5px;
    }
  }

  &:not(.has-more) .account:last-child,
  &:not(.has-more) > div:last-child .status {
    border-bottom: 0;
  }
}

.search-results__hashtag {
  display: block;
  padding: 10px;
  color: var(--primary-text-color--faint);
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: var(--primary-text-color);
    text-decoration: underline;
  }
}

.search-header {
  display: block;
  width: 100%;

  &__text-container {
    display: none;
    padding: 25px 0;
    background-color: var(--accent-color--med);

    @media (min-width: 895px) {
      display: block;
    }
  }

  &__title-text {
    color: var(--primary-text-color);
    font-size: 27px;
    font-weight: bold;
    line-height: 32px;
    overflow: hidden;
    padding-left: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__type-filters-tabs {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    @media screen and (max-width: 895px) {
      max-width: 580px;
    }
  }

  @media (min-width: 895px) and (max-width: 1190px) {
    &__title-text,
    &__type-filters-tabs {
      max-width: 900px;
    }
  }
}

.search-popout-container {
  width: 251px;
  @media screen and (max-width: $nav-breakpoint-2) { width: 100%; }
}

.search-popout {
  @include search-popout;
}

.search__filter-bar:last-child {
  border-bottom: none;
}
